<section>
    <article>
        <h3>Interpolação</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>Operação matemática em uma interpolação: {{ 1 + 1 }}</p>
        <p>Retorno de uma função em uma interpolação: {{ getValor() }}</p>
        <p>Operação lógica em uma interpolação: {{ getBoolean() && false }}</p>
        <p>Atributos de tags HTML recebendo interpolação: <img src="{{ urlImagem }}"></p>
    </article>
    <article>
        <h3>Property binding</h3>
        <img [src]="urlImagem">
        <img bind-src="urlImagem">
    </article>
    <article>
        <h3>Class e Style binding</h3>
        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
            <br><br>
            <div class="alert {{ classe.value }}">
                Texto colorido conforme o valor do combobox.
            </div>
            <div class="alert" role="alert" [class.alert-success]="classe.value === 'alert-success'">Sucesso</div>
            <div class="alert" role="alert" [class.alert-info]="classe.value === 'alert-info'">Info</div>
            <div class="alert" role="alert" [class.alert-warning]="classe.value === 'alert-warning'">Alerta</div>
            <div class="alert" role="alert" [class.alert-danger]="classe.value === 'alert-danger'">Erro</div>
            <div class="alert alert-danger" role="alert"
                [style.display]="classe.value === 'alert-danger' ? 'block' : 'none'">
                Esse texto só aparece em caso de erro.
            </div>
        </div>
    </article>
    <article>
        <h3>Event binding</h3>
        <div>
            <button class="btn btn-primary" (click)="botaoClicado()">Me clique</button>
        </div>
        <br><br>
        <input #campoInput type="text" (keyup)="onKeyUp(campoInput.value)" (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)">
        <p>Valor atual: {{ valorAtual }}</p>
        <p>Valor salvo: {{ valorSalvo }}</p>
        <br><br>
        <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver">
            Passe o mouse sobre mim
        </span>
    </article>
</section>